.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.person-info {
  width: 100%;
}

.counter {
  display: flex;
}

.counter p, .counter button {
  display: inline-block;
  margin: 0.5em;
}

.counter button {
  padding: 1.5rem;
}

.checkboxes, .selected-checkboxes {
  display: flex;
  justify-content: center;
}

.checkboxes label {
  display: inline-block;
  margin-inline: 1rem;
}

.selected-checkboxes p {
  display: inline-block;
  margin-inline: 0.5rem;
}